.main-section{
    text-align: left;
    padding: 150px;
}
.main-section h3{
    color: #10dcc9;
}
.main-section-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-section-content h2{
    color: #bb86fc;
    font-size: 2.5rem;
    font-weight: 460;
    letter-spacing: 0.5px;
}
.main-section-content button{
    background-color: #3649b5;
    color: white;
    box-shadow: 0 20px 30px rgba(33, 33, 33, .07);
    padding: 20px 35px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    height: 60px;
    margin-top: 40px;
}
.features-option{
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 0px 110px;
    font-weight: 250;
}
.features-option h1{
    font-weight: 350;
    font-size: 2rem;
}
.features-option p{
    padding: 0px 50px 0px 0px;
}
.features-option img{
    height: 100px;
    width: 100px;
    margin-top: -90px;
}
.social-network{
    display: flex;
    margin-top: 120px;
    text-align: left;
}
.social-img img{
    height: 650px;
    width: 750px;
}
.social-netwok-content{
    margin-left: 50px;
    padding: 0px 50px 0px 0px;
}
.social-netwok-content h1{
    font-size: 3.5rem;
    letter-spacing: -0.5px;
    font-weight: 400;
    color: #df6981;
}
.social-netwok-content h2{
    font-size: 3.5rem;
    letter-spacing: -0.5px;
    font-weight: 750;
    color: #df6981;
    margin-top: -55px;
}
.social-netwok-content h5{
    margin-top: -30px;
    font-weight: 400;
    font-size: 1rem;
    padding: 0px 200px 0px 0px;
}
.social-network-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.social-network-btn h4{
    font-size: 1rem;
    font-weight: 450;
    color: #bc87fc;
}
.social-network-btn button{
    background-color: #df6981;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 550;
    height: 50px;
    margin: auto;
}
.social-network-offered{
    color: #bc87fc;
}
.social-network-offered p{
    padding: 0px 380px 0px 0px;
}
.companies-list{
    margin-top: 80px;
    padding: 0px 120px;
}
.companies-list h5{
    color: #10dcc9;
    font-size: 1rem;
    font-weight: 600;
}
.companies-list h1{
    color: #bb86fc;
    font-size: 2.5rem;
    font-weight: 370;
}
.companies-logo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.companies-logo img{
    height: 150px;
    width: 300px;
}
.growing-rate-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.growing-rate-section img{
    height: 580px;
}
.growing-rate-content{
    margin-left: 150px;
    text-align: left;
}
.growing-rate-content h1{
    font-size: 3.8rem;
    font-weight: 400;
    color: #df6981;
}
.growing-rate-content h2{
    font-size: 3.8rem;
    font-weight: 550;
    color: #df6981;
    margin-top: -60px;
}
.growing-rate-content p{
    color: #bb86fc;
    font-weight: 600;
    margin-top: -30px;
}
.growing-number{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.growing-number h3{
    font-size: 3.5rem;
    font-weight: 800;
    color: #3649b5;
}
.growing-number h5{
    font-size: 1rem;
    font-weight: 600;
    margin-top: -30px;
    color: #bc87fc;
}
.review-section{
    background-color: #20267f;
    height: 700px;
    position: relative;
    clip-path: ellipse(100% 100% at 50% 0%);
    background-image: url("https://codiqa.bold-themes.com/social/wp-content/uploads/sites/4/2019/09/bgn-testimonials.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    z-index: 1; 
}
.review-content{
   padding-top: 100px;
   text-align: left;
   margin-left: 150px;
}
.review-content h3{
    color: #10dcc9;
    font-weight: 400;
    font-size: 1rem;
}
.review-content h2{
    color: #bb86fc;
    font-weight: 400;
    font-size: 2.5rem;
}
.user-review{
    display: flex;
    justify-content: space-between;
    padding-right: 180px;
}
.user-review h1{
    color: white;
    font-weight: 350;
    font-size: 1.3rem;
}
.user-review p{
    color: white;
    font-size: 1rem;
    font-weight: 350;
}
.user-review h5{
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin: auto;
}
.review-content button{
    margin-left: 500px;
    margin-top: 80px;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: #df6981;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
}
.pricing-section{
    margin-top: 150px;
}
.pricing-section h1{
    color: #df6981;
    font-size: 3.5rem;
    font-weight: 400;
}
.pricing-section h2{
    color: #df6981;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: -50px;
}
.packages-section{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}
.starting-package{
    border-radius: 25px;
    background-color: #f1f1f1;
    padding: 50px;
}
.starting-package h3{
    font-size: 3.5rem;
    font-weight: 400;
}
.starting-package h4{
    font-size: 2rem;
    color: #3649b5;
    margin: auto;
    margin-top: -40px;
}
.starting-package button{
    background-color:  #3649b5;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 20px;
    border-radius: 50px;
}
.pro-package{
    border: 4px solid #df6981;
    border-radius: 25px;
    padding: 50px; 
}
.pro-package h3{
    font-size: 3.5rem;
    font-weight: 400;
}
.pro-package h4{
    font-size: 2rem;
    color: #df6981;
    margin: auto;
    margin-top: -40px;
}
.pro-package button{
    background-color: #df6981;
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 20px;
    border-radius: 50px;
}
.sign_up-section{
    display: flex;
    margin-top: 100px;
}
.sign_up-section img{
    width: 780px;
}
.sign_up-part{
    margin-top: 150px;
    text-align: left;
    margin-left: 50px;
}
.sign_up-part h1{
    color: #df6981;
    font-size: 3.7rem;
    font-weight: 400;
}
.sign_up-part h2{
    color: #df6981;
    font-size: 3.7rem;
    font-weight: 650;
    margin-top: -55px;
}
.sign_up-part p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: -30px;
}
.sign_up-part input{
    padding: 15px;
    width: 300px;
    border-radius: 50px;
    margin-top: 30px;
    border: 1px solid #9a9595;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.sign_up-part button{
    padding: 20px;
    width: 150px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #df6981;
    color: #f1f1f1;
    font-weight: 750;
    border: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.codiaq-services{
    margin-top: 80px;
    padding: 0px 120px;
}
.codiaq-services h3{
    color: #10dcc9;
    font-size: 1rem;
    font-weight: 600;
}
.codiaq-services h1{
    color: #bb86fc;
    font-size: 2.5rem;
    font-weight: 370;
}
.codiaq-services-lists{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.codiaq-services-lists img{
    height: 70px;
}